.camaleonrojo {
  color: red;
}

.camaleonverde {
  color: green;
}

.idcolor {
  color: yellow;
}

.centerpagination {
  margin-left: 25%;
}

.margenint {
  padding: 20px;
  align-items: center;
}

tr:hover {
  background-color: rgb(140, 219, 95);
  transition: background-color 0.5s;
}

.bordetabla {
  border-radius: 25px;
  box-shadow: 2px 6px 15px black;
}
